<div class="card card-success">
<div class="card-header">
        <h3 class="card-title">New Products</h3>
    </div>
    <form th:action="@{~/products/save}" method="post" class="form-horizontal">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="col-md-12">
                        <!-- card supplier -->
                        <div class="card card-info p-0">
                            <div class="card-header">
                                <h3 class="card-title">Supplier :</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="supplierId" class="col-sm-4 col-form-label">Company Name</label>
                                    <div class="col-sm-8">
                                        <select class="form-control custom-select rounded-0" name="supplierId" id="supplierId">
                                            <option value="">Select One</option>
                                            <option th:each="supplier :${supplierList}" th:value="${supplier.id}" th:text="${supplier.companyName}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product -->
                    <div class="form-group row">
                        <label for="productName" class="col-sm-4 col-form-label">Product Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="productName" id="productName" placeholder="Product Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="quantity" class="col-sm-4 col-form-label">Quantity</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="quantity" id="quantity" placeholder="Quantity">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price" class="col-sm-4 col-form-label">Price</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="price" id="price" placeholder="Price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="stock" class="col-sm-4 col-form-label">Stock</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="stock" id="stock" placeholder="Stock">
                        </div>
                    </div>
                </div>
                <!-- card category -->
                <div class="col-lg-6 col-md-6">
                    <div class="col-md-12">
                        <div class="card card-info p-0">
                            <div class="card-header">
                                <h3 class="card-title">Category :</h3>
                                <div class="card-tools">
                                    <a th:href="@{~/products/add-category}"></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="categoryId" class="col-sm-4 col-form-label">Category Name</label>
                                    <div class="col-sm-8">
                                        <select class="form-control custom-select rounded-0" id="categoryId" name="categoryId">
                                            <option value="">Select One</option>
                                            <option th:each="option :${#lists.sort(dataList, byPosition)}" th:value="${option.id}"
                                                    th:text="${option.name}" th:name="|category[0].categoryName|">Select One</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="description">Description</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:name="|category[0].description|"
                                               placeholder="Description" id="description" name="description">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- product -->
                    <div class="form-group row">
                        <label for="unitOrder" class="col-sm-4 col-form-label">Unit Order</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="unitOrder" id="unitOrder" placeholder="Unit Order">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="reOrder" class="col-sm-4 col-form-label">Re Order</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="reOrder" id="reOrder" placeholder="Re Order">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="discount" class="col-sm-4 col-form-label">Discount</label>
                        <div class="col-sm-8 ">
                            <input type="text" class="form-control" name="discount" id="discount" placeholder="Discount">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer justify-content-between">
            <button type="submit" class="btn btn-outline-success">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </form>
</div>