<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Customer Add</title>
</head>
<body>

<!-- breadcrumb -->
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1>Customer </h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a th:href="@{~/home}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{~/customer}">Customer</a></li>
            <li class="breadcrumb-item active">New</li>
        </ol>
    </div>
</div>
</body>
</html>